<div class="well">
  <h3 class="text-center">ngRepeat</h3>
  <p class="small">
    The ngRepeat directive instantiates a template once per item from a collection. Each template instance gets its own scope, where the given loop variable is set to the current collection item, and $index is set to the item index or key.
  </p>
  <hr/>
  <p class="small">
    A directiva ngRepeat instacia um item por vez de uma lista. Funciona basicamente como um "For, Foreach, etc...". A variável $index é o índice do item ou a chave.
  </p>
</div>
<div class="row marketing">
</div>