<div class="jumbotron">
  <h1>Kitchen Sink!</h1>
  <p class="lead">
    Showcase of AngularJS components and features
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Let's go! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="row marketing">
  <p class="lead">Project structure</p>
  <p><pre>
    app-folder
    ├── index.html
    ├── images
    │   └── ...
    ├── scripts
    │   ├── controllers
    │   │   └── main.js
    │   │   └── ...
    │   ├── directives
    │   │   └── myDirective.js
    │   │   └── ...
    │   ├── filters
    │   │   └── myFilter.js
    │   │   └── ...
    │   ├── services
    │   │   └── myService.js
    │   │   └── ...
    │   └── app.js
    ├── styles
    │   └── ...
    └── views
        ├── Directive
        │   └── ng-repeat.html
        │   └── ...
        ├── ...
        └── main.html
  </pre>
  </p>
  <p class="lead">I'm using Yeoman generator for AngularJS.</p>
  <p class="small">for more info: <a href="https://github.com/yeoman/generator-angular">https://github.com/yeoman/generator-angular</a></p>
</div>